@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    padding: 2%;
    padding: 2%;
}

.widget {
    height: 50%;
    border-radius: 2%;
}

.small-text {
    font-size: 12px;
    vertical-align: left;
    display: inline-flex;
}

.choice {
    font-size: 30px;
}

.reset-button {
    border-radius: 2%;
    font-size: 12px;
    background-color: white;
    color: rgb(43 91 43);
    vertical-align: right;
    display: inline-flex;
    float: right;
}

.category-heading {
    font-size: 12px;
}

