#div {
    position: relative;
}

.banner {
    position: relative;
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner .btn {
    position: absolute;
    top: 91%;
    left: 82%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(139 216 139);
    color: rgb(46 155 83);
    font-size: 22px;
    padding: 12px 24px;
    border: 4px solid white;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    width: 12vw;
  }

  .banner .txt {
    position: absolute;
    top: 68%;
    left: 82%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    padding: 12px 24px;
    border-radius: 10px;
    text-align: right;
    width: 30%;
  }

  .tilt {
    -webkit-transform:rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }


