@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  margin: 2%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Quicksand', sans-serif;
}

code {
  font-family: 'Quicksand', sans-serif;
}
